li {
    list-style: none;
    display:block;
    font-family:sans-serif;
}
.yellow {
    background-color: yellow;
    border: 1px solid yellow;
    width:200px;
    padding:10px 5px 70px 5px;
    text-align: left;
    margin-bottom: 10px;
}
.red {
    background-color: crimson;
    border: 1px solid black;
    width:200px;
    padding:10px 5px 70px 5px;
    text-align: left;
    margin-bottom:10px;
}